/*      Header      */

#header{
    height: 50px;
    color: $textColorFirst;
    font: 400 13px / 48px Tahoma;
    background-color: $bgColorThird;
    i{
        margin: 0 8px;
    }
    .mobile{
        font-size: 14px;
        letter-spacing: 1px;
        vertical-align: -1px;
        color:$textColorEighth;
        span{
          color: $textColorNineth;
        }
    }
    .navbar{
        padding: 17px 0 2px 0;
        min-height: 38px;
        margin: 0;
        .container{
        border: 0;
            .navbar-brand{
                padding: 2.5px 0 0 15px;
                margin-bottom: 14px;
                height: 38px;
            }

    }
    }
    .nav {
        a{
            padding: 13px 20px;
            font: 400 14.5px / 12px Tahoma;
            letter-spacing: 1px;
            color: $textColorFirst;
            &:hover{
            background-color: white;
            color: $textColorThird;
            }
        }
        .btn{
          margin-bottom: 15px;
        }
    }


    @media (min-width: 768px) and (max-width: 991px) {
     .navbar-collapse.collapse {
         display: none !important;
     }
     .navbar-collapse.collapse.in {
         display: block !important;
     }
     .navbar-header .collapse, .navbar-toggle {
         display:block !important;
     }
     .navbar-header {
         float:none;
     }}

}
