/*    Our Pricing    */
.mark{
  width: 93px;
  height: 93px;

  overflow: hidden;
  position: relative;
  background-color: transparent;
  border: 0 !important;
  padding: 0 !important;
}
.mark div {
  padding: 10px 30px;
  transform: rotate(-45deg);
  background-color: $bgColorFifth;
  position: absolute;
  font-size: 12px;
  color: white;
  top: 18px;
  left: -35px;
}

#ourPricing{
  padding-bottom: 122px;
  padding-top: 80px;
  .blue{
    background-color:$bgColorFifth !important;
  }
  .col-md-3{
    .captionMod{
      padding-bottom: 162px!important;
    }
    .caption{
      padding-top:  25px;
      padding-bottom: 129px;
      margin-bottom: 30px;
      border: 1px solid $elementColorSixth;
      position: relative;

      button{
        padding: 13px 33px;
        border-radius: 2px;
        border: none;
        background-color: $bgColorFourth;
        color: white;
        text-transform: uppercase;
        position: absolute;
        bottom: -23px;
        left: calc(50% - 74.36px);
      }
      .mark{
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    div{
      border-bottom: 1px solid $elementColorSixth;
      h5{
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        span{
          border-bottom: 1px solid $elementColorSecond;
          padding-bottom: 10px;
        }
      }
      .price{
        margin: 13px 0;
        &:first-child{
          font-size: 19px;
          font-weight: 500;
          color: $textColorEleventh;
          span{
            color: $textColorFifth;
          }
        }
      }
      .opportunity{
        padding-top: 28px;
        border-bottom: 0;
        p{
          margin: 12px 0;
          font-size: 15px;
          color: $textColorFourth;
        }
      }
    }

  }
}
