// Color variables
// Background colors
$bgColorFirst: #e5eef0;
$bgColorSecond: #ffffff;
$bgColorThird: #1f2629;
$bgColorFourth: #f7941d;
$bgColorFifth: #29c2e1;

//  Elements colors
$elementColorFirst: #29c2e1;
$elementColorSecond: #f69b37;
$elementColorThird: #d8e3e6;
$elementColorFourth: #dee8ea;
$elementColorSixth:#e6edee;

//  Text colors
$textColorFirst: #93a1a7;
$textColorSecond:#83878e;
$textColorThird: #23282f;
$textColorFourth: #54595f;
$textColorFifth: #f69b37;
$textColorSixth: #3e4146;
$textColorSeventh: #ffffff;
$textColorEighth: #7b8a90;
$textColorNineth: #bac7cd;
$textColorTenth:#58686c;
$textColorEleventh:#65686e;

// Image URL variable
$imageLink: "../../images/";// TODO: Create URL Variables
